spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/your_database?useTimezone=true&serverTimezone=UTC
    username: postgres
    password: your_user_password
  jpa:
    hibernate:
      ddl-auto: update
    show_sql: false
    open-in-view: false